*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
/* body{
    background-color: #d0d4c5;
} */
header{
    height: 100vh;
    width: 100%;
    background-image: url(../images/Cool\ robot.gif) , url(../images/bg.png);
    background-position:83% center;
    background-size: 25%,100%;
    background-repeat: no-repeat;
}
#headerLine{
    display: flex;
    justify-content: space-between;
}
#headerLine img{
    width: 4%;
    margin: 2% 0 0 2%;
}
#headerLine ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: 115%;
    color: #485045 !important;
    font-weight: 600;
    margin-top: 2.5%;
}
#headerLine ul li{
    padding: 0 8%;
    cursor: pointer;
}
#leftSide{
    margin: 8% 0 0 8%;
}
#leftSide h2{
    font-family: 'Abril Fatface', cursive;
    font-weight: 200;
    color: #485045 !important;
    font-size: 4rem;
    margin-bottom:0 !important;
    line-height: 3.5rem;
}
#leftSide #first{
    color: #ad7e25 !important;
}
#leftSide div{
    margin-top: 3rem;
}
#customBut{
    text-decoration: none;
    color: #eee;
    padding: 1% 4%;
    font-family: 'Kufam', sans-serif;
    font-weight: 700;
    font-size: 100%;
    background-color: #485045;
    border-style: hidden;
    border-radius: 45px;
    box-shadow: 2px 2px 4px #485045;
}
#leftSide p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #485045;
}
#simg{
    width: 200px !important;
    height: 200px !important;
}
.container h3{
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-weight: 600;
    font-size: 450%;
    text-align: center;
    margin-bottom: 3%;
    text-shadow: 4px 2px 5px #343434;
}
#title{
    color: #485045 !important;
    padding-top: 10rem;
    font-family: 'Abril Fatface', cursive;
    font-weight: 600;
    font-size: 350%;
    text-align: center;
    margin-bottom: 3%;
    color: #eee !important;
}
#title span{
    font-family: 'Abril Fatface', cursive;
    font-weight: 600;
    color: #484848 !important;
}
main{
    background-image: url(../images/mainbg.png);
}
.card{
    background-color: #090909a6;
    color: #eee;
    border: solid 2px #484848 ;
    margin: 0 10px ;
}
.carousel-inner h5{
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 250%;
    font-weight: 600;
    text-shadow: 3px 3px 3px black;
}
.carousel-inner p{
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 100%;
    font-weight: 400;
    text-shadow: 3px 3px 3px black;
}
.whitebg {
    background-image: url(../images/whitebg.png);
    background-repeat: repeat-y;
    background-size: 100%;
}
#title2 {
    color: #485045;
    padding-top: 10rem;
    font-family: 'Abril Fatface', cursive;
    font-weight: 600;
    font-size: 350%;
    text-align: center;
    margin-bottom: 3%;
    color: #c5c5c5 !important;
}
#title2 span{
    font-family: 'Abril Fatface', cursive;
    font-weight: 600;
    color: #484848 !important;
}
#paddn{
    padding-bottom: 20vh;
}
footer{
    background-color: #c1c1c1;
}
footer img {
    width: 50px !important;
    height: 50px !important;
}
footer{
    align-items: center !important;
}
a{
    text-decoration: none;
}











#contactus {
    font-family: "Roboto", sans-serif;
    /* background-color: #efefef; */
    line-height: 1.9;
    color: #8c8c8c !important ;
    /* background-color: #efefef; */
    position: relative; 
}
  
  #contactus h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
    color: #000!important; }
  
  #contactus a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  #contactus .text-black {
    color: #000; }
  
  #contactus .content {
    padding: 7rem 0; }
  
  #contactus .heading {
    font-size: 2.5rem;
    font-weight: 900; }
  
  #contactus .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none; }
    .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000; }
  
  #contactus .col-form-label {
    color: #000;
    font-size: 13px; }
  
  #contactus .btn, .form-control, .custom-select {
    height: 45px; }
  
  #contactus .custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }
  
    #contactus .btn {
    border: none;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: .2rem;
    text-transform: uppercase; }
    #contactus  .btn.btn-primary {
      background: #35477d;
      color: #fff;
      padding: 15px 20px; }
      #contactus  .btn:hover {
      color: #fff; }
      #contactus  .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
      #contactus .contact-wrap .col-form-label {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0 0 10px 0;
    display: inline-block;
    padding: 0; }
  
    #contactus .contact-wrap .form, .contact-wrap .contact-info {
    padding: 40px; }
  
    #contactus .contact-wrap .contact-info {
    color: rgba(255, 255, 255, 0.5); }
    #contactus .contact-wrap .contact-info ul li {
      margin-bottom: 15px;
      color: rgba(255, 255, 255, 0.5); }
      .contact-wrap .contact-info ul li .wrap-icon {
        font-size: 20px;
        color: #fff;
        margin-top: 5px; }
  
        #contactus .contact-wrap .form {
    background: #fff; }
    #contactus .contact-wrap .form h3 {
      color: #35477d!important;
      font-size: 20px;
      margin-bottom: 30px; }
  
      #contactus .contact-wrap .contact-info {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    #contactus .contact-wrap .contact-info a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    @media (max-width: 1199.98px) {
      #contactus .contact-wrap .contact-info {
        height: 400px !important; } }
        #contactus .contact-wrap .contact-info h3 {
      color: #fff;
      font-size: 20px;
      margin-bottom: 30px; }
  
  label.error {
    font-size: 12px;
    color: red; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: #B90B0B; }
  
  #form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; }
#animcont{
    width: 100%;
}  
#contactus h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
    color: #fff !important;}